.mat-column-rvCodigoUnico {
  border-right: 1px solid #e0e0e0;
  min-width: 100px !important;
}

.mat-column-rvCodigoParroquia {
  min-width: 200px !important;
}

.mat-column-rvCodigoSecuencial {
  min-width: 200px !important;
}

.mat-column-rvNumeroExpediente {
  min-width: 200px !important;
}

.mat-column-rvCodigoTipoPunto {
  min-width: 200px !important;
}

.mat-column-rvCodigoResponsableScanner {
  min-width: 200px !important;
}

.mat-column-rvCodigoFiscalia {
  min-width: 200px !important;
}

.mat-column-rvCodigoFiscal {
  min-width: 200px !important;
}

.mat-column-rvNumeroDenuncia {
  min-width: 200px !important;
}

.mat-column-rvFechaDenuncia {
  min-width: 200px !important;
}

.mat-column-rvTipoDelito {
  min-width: 200px !important;
}

.mat-column-rvDireccionHecho {
  min-width: 200px !important;
}

.mat-column-rvFechaHecho {
  min-width: 200px !important;
}

.mat-column-rvCodigoDia {
  min-width: 200px !important;
}

.mat-column-rvCodigoMes {
  min-width: 200px !important;
}

.mat-column-rvCodigoAnio {
  min-width: 200px !important;
}

.mat-column-rvAnioHecho {
  min-width: 200px !important;
}

.mat-column-rvHoraHecho {
  min-width: 200px !important;
}

.mat-column-rvMinutoHecho {
  min-width: 200px !important;
}

.mat-column-rvCodigoLugar {
  min-width: 200px !important;
}

.mat-column-rvCodigoAutorDelito {
  min-width: 200px !important;
}

.mat-column-rvCodigoVictimasDelito {
  min-width: 200px !important;
}

.mat-column-rvCodigoTipoAgresion {
  min-width: 200px !important;
}

.mat-column-rvCircunstanciasVehiculo {
  min-width: 200px !important;
}

.mat-column-rvCodigoModalidadRobo {
  min-width: 200px !important;
}

.mat-column-rvDelitoFlagrante {
  min-width: 200px !important;
}

.mat-column-rvPlacaVehiculoVictima {
  min-width: 200px !important;
}

.mat-column-rvCodigoObjetoRobadoVh {
  min-width: 200px !important;
}

.mat-column-rvNumeroHombresAgresor {
  min-width: 200px !important;
}

.mat-column-rvNumeroMujeresAgresor {
  min-width: 200px !important;
}

.mat-column-rvVehiculoRecuperado {
  min-width: 200px !important;
}

.mat-column-rvObservaciones {
  min-width: 200px !important;
}

.mat-column-rvCodigoDigitadorActualiza {
  min-width: 200px !important;
}

.mat-column-rvFechaActualizacion {
  min-width: 200px !important;
}

.mat-column-rvGeoReferenciacion {
  min-width: 200px !important;
}

.mat-column-rvFechaValidacion {
  min-width: 200px !important;
}

.mat-column-rvNombreValidacion {
  min-width: 200px !important;
}

.mat-column-rvCodigoGeo {
  min-width: 200px !important;
}

.mat-column-rvEstado {
  min-width: 200px !important;
}

.mat-column-rvPartesRobadas {
  min-width: 200px !important;
}

.mat-column-Actions {
  min-width: 120px !important;
  border-left: 1px solid #e0e0e0;
}
