.mat-column-pdCodigoUnico {
  border-right: 1px solid #e0e0e0;
  min-width: 100px !important;
}

.mat-column-pdCodigoParroquia {
  min-width: 200px !important;
}

.mat-column-pdNumeroSecuencial {
  min-width: 200px !important;
}

.mat-column-pdNumeroActoAdministrativo {
  min-width: 200px !important;
}

.mat-column-pdRespnsableScanner {
  min-width: 200px !important;
}

.mat-column-pdCodigoFiscalia {
  min-width: 200px !important;
}

.mat-column-pdCodigoFiscal {
  min-width: 200px !important;
}

.mat-column-pdNumeroDenuncia {
  min-width: 200px !important;
}

.mat-column-pdFechaDenuncia {
  min-width: 200px !important;
}

.mat-column-pdFechaDesaparicion {
  min-width: 200px !important;
}

.mat-column-pdParroquiaDesaparicion {
  min-width: 200px !important;
}

.mat-column-pdCodigoDia {
  min-width: 200px !important;
}

.mat-column-pdCodigoMes {
  min-width: 200px !important;
}

.mat-column-pdCodigoAnio {
  min-width: 200px !important;
}

.mat-column-pdHora {
  min-width: 200px !important;
}

.mat-column-pdMinutos {
  min-width: 200px !important;
}

.mat-column-pdNumerosDesaparecidos {
  min-width: 200px !important;
}

.mat-column-pdPersonaDenuncia {
  min-width: 200px !important;
}

.mat-column-pdCodigoLugarLocalizado {
  min-width: 200px !important;
}

.mat-column-pdFechaLocalizado {
  min-width: 200px !important;
}

.mat-column-pdCodigoMotivoDesaparicion {
  min-width: 200px !important;
}

.mat-column-pdCondicionEncontrado {
  min-width: 200px !important;
}

.mat-column-pdFechaIngreso {
  min-width: 200px !important;
}

.mat-column-pdObervacion {
  min-width: 200px !important;
}

.mat-column-pdGeoreferencia {
  min-width: 200px !important;
}

.mat-column-pdCodigoGeo {
  min-width: 200px !important;
}

.mat-column-pdPorcentajeDiscapacidad {
  min-width: 200px !important;
}

.mat-column-pdLocalizado {
  min-width: 200px !important;
}

.mat-column-pdEstado {
  min-width: 200px !important;
}

.mat-column-pdCodigoAgresor {
  min-width: 200px !important;
}

.mat-column-pdCodigoDesparecidoVictima {
  min-width: 200px !important;
}

.mat-column-pdCodigoTipoPunto {
  min-width: 200px !important;
}

.mat-column-pdCondicionRegresa {
  min-width: 200px !important;
}

.mat-column-Actions {
  min-width: 120px !important;
  border-left: 1px solid #e0e0e0;
}
