<mat-card>
  <mat-card-header>
    <mat-card-title><h2 class="h2">DatosGeoReferenciacion</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content class="w-100">
    <div class="container-fluid"
         [class.d-none]="state !== PAGE_STATE.SHOWING">
      <mat-form-field floatPlaceholder="never"
                      color="accent"
                      class="w-100">
        <input matInput #filter placeholder="Filtro">
      </mat-form-field>
      <div class="w-100" style="overflow-x: auto">
        <table mat-table [dataSource]="dataSource" class="w-100">

          <ng-container matColumnDef="geoRefCodigo" sticky>
            <mat-header-cell mat-header-cell *matHeaderCellDef>GeoRefCodigo</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{element.geoRefCodigo}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="geoRefCoordenadaX">
            <mat-header-cell mat-header-cell *matHeaderCellDef>GeoRefCoordenadaX</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{element.geoRefCoordenadaX}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="geoRefCoordenadaY">
            <mat-header-cell mat-header-cell *matHeaderCellDef>GeoRefCoordenadaY</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{element.geoRefCoordenadaY}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="parroquiaCodigo">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Parroquia</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{element.parroquia.descripcion}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="zonaCodigo">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Zona</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{element.zona.descripcion}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="circuitoCodigo">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Circuito</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{element.circuito.descripcion}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="distritoCodigo">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Distrito</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{element.distrito.descripcion}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Actions" stickyEnd>
            <mat-header-cell mat-header-cell *matHeaderCellDef>
              <button mat-icon-button color="primary" (click)="startCreating()">
                <mat-icon aria-label="Add">add</mat-icon>
              </button>
            </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">
              <button mat-icon-button color="accent" (click)="startEditing(element)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <button mat-icon-button color="accent" (click)="deleteItem(element)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>



        </table>

      </div>


      <div
        *ngIf="dataSource?.totalCount == 0"
        class="alert-warning text-center">No records
      </div>




      <mat-paginator
        #paginator
        [length]="dataSource?.totalCount"
        [pageSize]="pageSizes[0]"
        showFirstLastButtons

        [pageSizeOptions]="pageSizes"></mat-paginator>
    </div>

    <!-- creating -->
    <div class="container-fluid"
         [class.d-none]="state !== PAGE_STATE.CREATING">
      <h4 class="h4">Nuevo</h4>
      <form
        [formGroup]="createForm"
        (ngSubmit)="create()">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="GeoRefCoordenadaX"
                 type="number"
                 step="1"
                 formControlName="geoRefCoordenadaX">
        </mat-form-field>

        <small
          *ngIf="createForm.controls['geoRefCoordenadaX'].hasError('required') && createForm.controls['geoRefCoordenadaX'].touched"
          class="text-danger support-text">GeoRefCoordenadaX es requerido.
        </small>

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="GeoRefCoordenadaY"
                 type="number"
                 step="1"
                 formControlName="geoRefCoordenadaY">
        </mat-form-field>

        <small
          *ngIf="createForm.controls['geoRefCoordenadaY'].hasError('required') && createForm.controls['geoRefCoordenadaY'].touched"
          class="text-danger support-text">GeoRefCoordenadaX es requerido.
        </small>

        <mat-form-field class="w-100">
          <mat-select placeholder="Parroquia"
                      formControlName="parroquiaCodigo">
            <mat-option value="" selected disabled="">Seleccionar</mat-option>

            <mat-option
              *ngFor="let item of pageData.parroquiaList"
              [value]="item.codigo">{{item.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>

        <small
          *ngIf="createForm.controls['parroquiaCodigo'].hasError('required') && createForm.controls['parroquiaCodigo'].touched"
          class="text-danger support-text">Parroquia es requerido.
        </small>

        <mat-form-field class="w-100">
          <mat-select placeholder="Zona"
                      formControlName="zonaCodigo">
            <mat-option value="" selected disabled="">Seleccionar</mat-option>

            <mat-option
              *ngFor="let item of pageData.zonaList"
              [value]="item.codigo">{{item.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>

        <small
          *ngIf="createForm.controls['zonaCodigo'].hasError('required') && createForm.controls['zonaCodigo'].touched"
          class="text-danger support-text">Zona es requerido.
        </small>

        <mat-form-field class="w-100">
          <mat-select placeholder="Circuito"
                      formControlName="circuitoCodigo">
            <mat-option value="" selected disabled="">Seleccionar</mat-option>

            <mat-option
              *ngFor="let item of pageData.circuitoList"
              [value]="item.codigo">{{item.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>

        <small
          *ngIf="createForm.controls['circuitoCodigo'].hasError('required') && createForm.controls['circuitoCodigo'].touched"
          class="text-danger support-text">Circuito es requerido.
        </small>

        <mat-form-field class="w-100">
          <mat-select placeholder="Distrito"
                      formControlName="distritoCodigo">
            <mat-option value="" selected disabled="">Seleccionar</mat-option>

            <mat-option
              *ngFor="let item of pageData.distritoList"
              [value]="item.codigo">{{item.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>

        <small
          *ngIf="createForm.controls['distritoCodigo'].hasError('required') && createForm.controls['distritoCodigo'].touched"
          class="text-danger support-text">Distrito es requerido.
        </small>

        <div class="d-flex justify-content-end">
          <button mat-raised-button
                  mat-button
                  color="primary"
                  class="mr-1"
                  type="submit"
                  [disabled]="!createForm.valid">Crear
          </button>
          <button mat-button
                  mat-raised-button
                  color="accent"
                  type="button"
                  (click)="state = PAGE_STATE.SHOWING">Cancelar
          </button>
        </div>
      </form>
    </div>
    <!-- /creating -->
    <!-- editing -->
    <div class="container-fluid"
         [class.d-none]="state !== PAGE_STATE.EDITING">
      <h4 class="h4">Actualizar</h4>
      <form
        [formGroup]="editForm"
        (ngSubmit)="save()">

        <span *ngIf="selectedItem">Registro seleccionado: {{selectedItem.geoRefCodigo}}</span>

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="GeoRefCoordenadaX"
                 type="number"
                 step="1"
                 formControlName="geoRefCoordenadaX">
        </mat-form-field>

        <small
          *ngIf="editForm.controls['geoRefCoordenadaX'].hasError('required') && editForm.controls['geoRefCoordenadaX'].touched"
          class="text-danger support-text">GeoRefCoordenadaX es requerido.
        </small>

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="GeoRefCoordenadaY"
                 type="number"
                 step="1"
                 formControlName="geoRefCoordenadaY">
        </mat-form-field>

        <small
          *ngIf="editForm.controls['geoRefCoordenadaY'].hasError('required') && editForm.controls['geoRefCoordenadaY'].touched"
          class="text-danger support-text">GeoRefCoordenadaX es requerido.
        </small>

        <mat-form-field class="w-100">
          <mat-select placeholder="Parroquia"
                      formControlName="parroquiaCodigo">

            <mat-option
              *ngFor="let item of pageData.parroquiaList"
              [value]="item.codigo">{{item.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>

        <small
          *ngIf="editForm.controls['parroquiaCodigo'].hasError('required') && editForm.controls['parroquiaCodigo'].touched"
          class="text-danger support-text">Parroquia es requerido.
        </small>

        <mat-form-field class="w-100">
          <mat-select placeholder="Zona"
                      formControlName="zonaCodigo">

            <mat-option
              *ngFor="let item of pageData.zonaList"
              [value]="item.codigo">{{item.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>

        <small
          *ngIf="editForm.controls['zonaCodigo'].hasError('required') && editForm.controls['zonaCodigo'].touched"
          class="text-danger support-text">Zona es requerido.
        </small>

        <mat-form-field class="w-100">
          <mat-select placeholder="Circuito"
                      formControlName="circuitoCodigo">

            <mat-option
              *ngFor="let item of pageData.circuitoList"
              [value]="item.codigo">{{item.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>

        <small
          *ngIf="editForm.controls['circuitoCodigo'].hasError('required') && editForm.controls['circuitoCodigo'].touched"
          class="text-danger support-text">Circuito es requerido.
        </small>

        <mat-form-field class="w-100">
          <mat-select placeholder="Distrito"
                      formControlName="distritoCodigo">

            <mat-option
              *ngFor="let item of pageData.distritoList"
              [value]="item.codigo">{{item.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>

        <small
          *ngIf="editForm.controls['distritoCodigo'].hasError('required') && editForm.controls['distritoCodigo'].touched"
          class="text-danger support-text">Distrito es requerido.
        </small>
        
        
        <div class="d-flex justify-content-end">

          <button mat-raised-button
                  mat-button
                  type="submit"
                  color="primary"
                  class="mr-1"
                  [disabled]="!editForm.valid">Grabar
          </button>
          <button mat-raised-button
                  mat-button
                  type="button"
                  color="accent"
                  (click)="state = PAGE_STATE.SHOWING">Cancelar
          </button>
        </div>

      </form>
    </div>
    <!-- /editing -->

  </mat-card-content>
</mat-card>


<ng-template #deleteConfirmDialog>
  <div mat-dialog-content>
    <p>Are you sure to delete this record?</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button
            mat-button
            color="primary"
            (click)="onDeleteConfirmDialogYes()">Sure
    </button>
    <button mat-raised-button
            mat-button
            color="warn"
            (click)="onDeleteConfirmDialogNo()">Not sure
    </button>
  </div>
</ng-template>


