.mat-column-viCodigoUnico {
  border-right: 1px solid #e0e0e0;
  min-width: 100px !important;
}

.mat-column-viCodigoSecuencial {
  min-width: 200px !important;
}

.mat-column-viCodigoFiscalia {
  min-width: 200px !important;
}

.mat-column-viCodigoFiscal {
  min-width: 200px !important;
}

.mat-column-viNumeroDenuncia {
  min-width: 200px !important;
}

.mat-column-viClaveExpediente {
  min-width: 200px !important;
}

.mat-column-viCodigoTipoPunto {
  min-width: 200px !important;
}

.mat-column-viCodigoAdministrador {
  min-width: 200px !important;
}

.mat-column-viFechaIngreso {
  min-width: 200px !important;
}

.mat-column-viCodigoTipoDenuncia {
  min-width: 200px !important;
}

.mat-column-viCodigoVictima {
  min-width: 200px !important;
}

.mat-column-viConvivenciaAgresor {
  min-width: 200px !important;
}

.mat-column-viTiempoRelacionAgresor {
  min-width: 200px !important;
}

.mat-column-viNumeroHijos {
  min-width: 200px !important;
}

.mat-column-viNumeroHijas {
  min-width: 200px !important;
}

.mat-column-viTotalHijos {
  min-width: 200px !important;
}

.mat-column-viFechaAgresion {
  min-width: 200px !important;
}

.mat-column-viCodigoDia {
  min-width: 200px !important;
}

.mat-column-viCodigoMes {
  min-width: 200px !important;
}

.mat-column-viCodigoAnio {
  min-width: 200px !important;
}

.mat-column-viHoraHecho {
  min-width: 200px !important;
}

.mat-column-viMinutosHecho {
  min-width: 200px !important;
}

.mat-column-viDireccionAgresion {
  min-width: 200px !important;
}

.mat-column-viCodigoParroquiaAgresion {
  min-width: 200px !important;
}

.mat-column-viCodigoLugarAgresion {
  min-width: 200px !important;
}

.mat-column-viCodigoFrecuenciaAgresion {
  min-width: 200px !important;
}

.mat-column-viNumeroVecesDenunciado {
  min-width: 200px !important;
}

.mat-column-viAgresorMaltrataHijos {
  min-width: 200px !important;
}

.mat-column-viEstadoGestacionVictima {
  min-width: 200px !important;
}

.mat-column-viDescadenanteMigracion {
  min-width: 200px !important;
}

.mat-column-viHijosPresenciaronHecho {
  min-width: 200px !important;
}

.mat-column-viFechaActualizacion {
  min-width: 200px !important;
}

.mat-column-viObservaciones {
  min-width: 200px !important;
}

.mat-column-viCodigoJudicatura {
  min-width: 200px !important;
}

.mat-column-viCodigoParroquia {
  min-width: 200px !important;
}

.mat-column-viCodigoBarrio {
  min-width: 200px !important;
}

.mat-column-viGeoReferenciacion {
  min-width: 200px !important;
}

.mat-column-viCodigoGeo {
  min-width: 200px !important;
}

.mat-column-viCodigoTipoDelito {
  min-width: 200px !important;
}

.mat-column-viEstado {
  min-width: 200px !important;
}

.mat-column-Actions {
  min-width: 120px !important;
  border-left: 1px solid #e0e0e0;
}
