.mat-column-victimaCodigo {
  border-right: 1px solid #e0e0e0;
  min-width: 100px !important;
}

.mat-column-victimaIdentificacion {
  min-width: 200px !important;
}

.mat-column-victimaNombres {
  min-width: 200px !important;
}

.mat-column-victimaApellidos {
  min-width: 200px !important;
}

.mat-column-victimaDireccion {
  min-width: 200px !important;
}

.mat-column-victimaTelefono {
  min-width: 200px !important;
}

.mat-column-victimaCodigoSexo {
  min-width: 200px !important;
}

.mat-column-victimaCodigoNacionalidad {
  min-width: 200px !important;
}

.mat-column-victimaCodigoEtnia {
  min-width: 200px !important;
}

.mat-column-victimaCodigoEstadoCivil {
  min-width: 200px !important;
}

.mat-column-victimaCodigoTipoDiscapacidad {
  min-width: 200px !important;
}

.mat-column-victimaCodigoOcupacion {
  min-width: 200px !important;
}

.mat-column-victimaEdad {
  min-width: 200px !important;
}

.mat-column-victimaAdolecente {
  min-width: 200px !important;
}

.mat-column-victimaCodigoTipoEmpresa {
  min-width: 200px !important;
}

.mat-column-Actions {
  min-width: 120px !important;
  border-left: 1px solid #e0e0e0;
}
